head{
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
    }

.banner{
     
    
    width: 100%;
    height:100vh;
    background-image:url(ibrahim.jpeg);
    background-color: #009688;
    background-size: cover;
    background-position: center;
    }

 .nav{
  width: 85%;  
  margin: auto;
  padding: 35px 0; 
  display: flex;
  align-items:center
  
  }
.banner ul li{
list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;

}
.banner ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}
.banner ul li::after{
    content:"";
    height: 3px;
    width: 0;
    background-color:#009688;
    position: absolute;
    left: 0%;
    bottom: -10px;
    transform: 0.5s;

}
.banner ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    text-align:end;
    color:white;
    top:50%;
    transform: translate(-50%);
    position: absolute;


    
}

.content h1{
    font-size: 50px;
    margin-top: 60px;
    
    
    
}
.content p{
    margin: 20px auto ;
    font-weight: 100;
    line-height: 25px;
    

}
    
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: whitesmoke;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    

}

 span{
    background-color: #009688;
    height: 100%;
    width:0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

button:hover span{
width: 100%;


}
button:hover{
    border: none;
}

.ind{

width: 100%;
    height:100vh;
    background-image:url(ibrahim.jpeg);
    text-align: center;
    background-size: cover;
    background-position: center;
    color: white;
    text-size-adjust: 50%;
    position: absolute;
    font-size: 50px;
    margin-top: 50px
    

}

.ind ul li  {
    list-style: none;
display:flexbox;
margin: auto;
text-align:center;
 color: white;
 font-size: large;
 text-decoration: none;
    color:white;
    text-transform: uppercase;
}

 .ind a{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 30px;
    font-weight: bold;
    border: 1px solid #009688;
    background: transparent;
    color: whitesmoke;
    overflow: hidden;
    
    display:inline-block;
     text-underline-offset: 0 ;
     font-size: medium;

    }
    
    

.cal{  
    width: 100%;
    height:100vh;
    background-image:url(ibrahim.jpeg);
    background-color: #009688;
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align:center;
    color:white;
    position: absolute;
}

.cal h1{
    font-size: 70px;
    margin-top: 80px;
    }
    .cal p{margin: 20px auto ;
        font-weight: 100;
        line-height: 25px;
        font-size: x-large;
        color:whitesmoke
        

    }
    .cals a{
        width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 30px;
    font-weight: bold;
    border: 1px solid #009688;
    background: transparent;
    color: whitesmoke;
   display:inline-block;
     text-underline-offset: 0 ;

    }